body {
	margin: 0;
	padding: 0;
	font-size: 14px;
	font-family: arial, helvetica, sans-serif;
}

header {
	background-color: black;
	padding: 20px;
}

header h1 {
	color: white;
	margin: 0;
}

section {
	margin-bottom: 40px;
}

ul, li {
	margin: 0;
	padding: 0;
	list-style-type: none;
}

.avatar {
	height: 70px;
	width: 70px;
    display: inline-block;
    border-radius: 50%;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.section-title {
	text-align: center;
    margin: 20px 0;
}

#today {
	padding: 20px 0;
}

.todays-matches-container {
	text-align: center;
	width: 700px;
    margin: 0 auto;
    max-width: 95%;
}

.todays-matches-container h2 {
	margin: 0 0 20px;
}

.todays-matches .match {
	overflow: hidden;
}

.todays-matches .match:nth-child(odd) {
	background: #fff;
}

.todays-matches .match .home {
	display: inline-block;
	width: calc(50% - 60px);
}

.todays-matches .match .away {
	display: inline-block;
	width: calc(50% - 60px);
}
.todays-matches .match div {
	vertical-align: top;
}

.todays-matches .match .time-vs {
	display: inline-block;
	width: 120px;
	margin-top: 20px;
}

.todays-matches .match .time-vs .goals {
	display: inline-block;
	background: #FFA824;
	margin: 2px;
	color: white;
	padding: 5px;
	width: 24px;
	height: 24px;
	line-height: 24px;
}

.todays-matches .match .avatar-name {
	width: 70px;
    height: 70px;
    line-height: 70px;
    font-size: 24px;
    display: inline-block;
    margin: 0;
}

.todays-matches .match .time-vs.time-vs--playing .goals {
	background: #1874CD;
}

.todays-matches .match .time-vs .start-time {
	font-size: 24px;
}

.todays-matches .match .time-vs .in-progress {
	color: #1874CD;
}

.todays-matches .match .time-vs .goals.goals--home {
	margin-left: 24px;
}

.todays-matches .match .time-vs .goals.goals--away {
	margin-right: 24px;
}

.todays-matches .country-name {
	margin: 0 0 40px;
}

.group-stage {
	max-width: 1200px;
    margin: 0 auto;
    width: 90%;
}

.group-stage .group {
	width: 25%;
	display: inline-block;
	vertical-align: top;
}

.group-stage .group h4 {
    margin: 24px 0 0;
    text-align: center;
}

.group-stage .group table {
	border: none;
	border-spacing: 0;
	width: 100%;
    padding: 6px;
    box-sizing: border-box;
}

.group-stage .group table thead {
	background: #eee;
}

.group-stage .group table thead th {
    border-bottom: 1px solid #dbdbdb;
    padding-top: 1rem;
    padding-bottom: 0.25rem;
    vertical-align: bottom;
    text-align: left;
    padding: 1rem 6px 0.25rem 6px;
}

.group-stage .group table tbody tr {
	
} 

.group-stage .group table tbody tr td {
	padding: 10px 6px;
	border-bottom: 1px solid #eee;
} 

.group-stage .group table tbody tr th {
	padding: 4px 6px;
	border-bottom: 1px solid #eee;
	vertical-align: top;
	display: flex;
	align-items: center;
} 

.group-stage .group table tr th {
	text-align: left;
}

.group-stage .group .avatar {
	height: 40px;
	width: 40px;
	margin-right: 10px;
}


.avatar-name {
	height: 40px;
	width: 40px;
	margin-right: 10px;
	line-height: 40px;
	text-align: center;
	color: white;
	background: black;
	border-radius: 50%;
	font-size: 16px;
}

section.knockout .knockout-container {
	max-width: 1200px;
    margin: 0 auto;
    width: 90%;
}

section.knockout .knockout-container {
	display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    position: relative;
}

section.knockout .knockout-container .knockout-header {
	position: absolute;
    top: 0;
    width: 25%;
    text-align: center;
    padding-top: 0;
    padding-right: 8px;
    padding-bottom: 0;
    padding-left: 8px;
    margin-bottom: 0;
}

section.knockout .knockout-container .knockout-header--qfinals {
	left: 25%;
}
section.knockout .knockout-container .knockout-header--sfinals {
	left: 50%;
}
section.knockout .knockout-container .knockout-header--finals {
	left: 75%;
}

section.knockout .knockout-container ul.knockout-column {
	position: relative;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-direction: normal;
    -moz-box-direction: normal;
    -webkit-box-orient: vertical;
    -moz-box-orient: vertical;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-flex: 1;
    -moz-box-flex: 1;
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1;
    list-style: none;
    padding-top: 3rem;
    margin-bottom: 0;
    border-top: 0;
    border-right: 1px dashed #c5c5c5;
}

section.knockout .knockout-container ul.knockout-column:last-of-type {
    border-right: 0;
}

section.knockout .knockout-container ul.knockout-column li.knockout-item {
	background: #f4f4f4;
    position: relative;
    border-bottom: 2px solid #dbdada;
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
    padding-top: 0.75rem;
    padding-bottom: 0.5rem;
    margin-left: 12px;
    margin-right: 12px;
    text-align: center;
}

section.knockout .knockout-container ul.knockout-column li.knockout-item .fixture .team, 
section.knockout .knockout-container ul.knockout-column li.knockout-item .fixture .time-vs {
	display: inline-block;
}

section.knockout .knockout-container ul.knockout-column li.knockout-item .fixture .date {
	font-weight: bold;
	text-transform: uppercase;
	letter-spacing: 1px;
	margin-bottom: 14px;
}

section.knockout .knockout-container ul.knockout-column li.knockout-item .fixture h4 {
	font-size: 0.8em;
	margin: 4px 0;
}


section.knockout .knockout-container ul.knockout-column li.knockout-item .avatar {
	width: 40px;
	height: 40px;
	line-height: 40px;
	background-color: #000;
	color: white;
	font-size: 0.9em;
	font-weight: bold;
}

section.knockout .knockout-container ul.knockout-column li.knockout-item .fixture .time-vs {
	vertical-align: top;
	margin: 14px 7px;
	font-size: 0.8em;
	font-weight: bold;
}

.knockout-item-spacer {
    -webkit-box-flex: 1;
    -moz-box-flex: 1;
    -webkit-flex: 1;
    -moz-flex: 1;
    -ms-flex: 1;
    flex: 1;
    flex-grow: 1;
}

.knockout-item-spacer:first-child, .knockout-item-spacer:last-child {
    -webkit-box-flex: .5;
    -moz-box-flex: .5;
    -webkit-flex: .5;
    -moz-flex: .5;
    -ms-flex: .5;
    flex: .5;
    flex-grow: 0.5;
    flex-grow: .5;
}

.knockout-item__line::after, .knockout-item__line::before {
    position: absolute;
    content: '';
    width: 11px;
    border-color: #4f7a38;
    border-style: solid;
    border-top-width: 0;
    border-right-width: 0;
    border-bottom-width: 0;
    border-left-width: 0;
}

.knockout-item__line--1st-column::after {
    height: 80%;
}

.knockout-item__line--bottom::after {
    border-bottom-width: 2px;
    border-right-width: 2px;
    right: -13px;
    bottom: 50%;
}

.knockout-item__line--top::after {
	border-top-width: 2px;
	border-right-width: 2px;
	right: -13px;
	top: 50%;
}

.knockout-item__line--2st-column::after {
    height: 150%;
}

.knockout-item__line--left::before {
    border-top-width: 2px;
    left: -12px;
    top: 50%;
}

.knockout-item__line--3rd-column::after {
    height: 300%;
}

@media only screen and (max-width: 850px) {
	section.knockout .knockout-container ul.knockout-column li.knockout-item .fixture .team, 
	section.knockout .knockout-container ul.knockout-column li.knockout-item .fixture .time-vs {
	    display: block;
	}
}

@media only screen and (max-width: 800px) {
    .group-stage .group {
    	width: 50%;
    }
}

@media only screen and (max-width: 600px) {
    .group-stage .group {
    	width: 100%;
    }
}

